.wrapper {
  padding-left: $gutter/2;
  padding-right: $gutter/2;
  @media( min-width: $breakpoint ){
    padding-left: $gutter;
    padding-right: $gutter;
  }
  margin: auto;
  max-width: $max-width;
}

.content {
  max-width: $max-width;
  margin: auto;
  &-full {
    max-width: $max-width;
    margin-bottom: $gutter * 2;
  }
}

.page-title {
  @media( max-width: $breakpoint ) {
    .post & {
      margin-bottom: 0;
    }
  }
  font-size: 1.75rem;
  font-weight: normal;
  margin-bottom: $gutter;
  span {
    font-family: $headline-font-family;
    font-style: italic;
    text-transform: none;
    font-size: 1.25rem;
    line-height: 1;
    color: $gray;
    display: block;
    margin-bottom: $gutter/4;
    margin-top: $gutter/8;
  }
  a {
    color: black;
  }
}
