$navy: #081A2D;
$navy-sheer: rgba(9,26,44,.75);
$yellow: #F4C971;
$cream: #FEF3E8;
$putty: #EFE3D1;
$clay: #ded1bf;
$coral: #ff93a2;
$peach: #fdddd6;

$icomoon-font-path: '../../fonts' !default;

$icon-external: "\e900";
$icon-menu: "\e903";
$icon-logo-original: "\e904";
$icon-loader: "\e906";

$sans-base: 'Open Sans';
$sans-block: 'Montserrat';
$sans-serif: 'Arapey';

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1200px;

$nav-height: 48px;