
$base-font-family: sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$base-line-height: 1.25;

$headline-font-family: georgia, serif;

$gutter: 40px;

$text-color: black;
$background-color: white;
$brand-color: #fd6358;
$light-gray: #eee;
$dark-gray: #343434;
$gray: #666;

$max-width: 820px;
$breakpoint: 500px;

$icons: 'blogspotter';
