.header {
  padding: $gutter/2 0;
  margin-bottom: $gutter/2;
  @extend %clearfix;
  position: relative;
  background: white;
  z-index: 1;
}

.branding,
.search-trigger {
  font-size: 1.25rem;
}

.branding {
  float: left;
  color: black;
  &:hover {
    color: $gray;
    transition: color 200ms ease-in-out;
  }
  &:after {
    font-family: $icons;
    content: "\e903";
    display: block;
  }
}

.search-trigger {
  float: right;
  cursor: pointer;
  &:after {
    font-family: $icons;
    content: "\e904";
    display: block;
  }
  &.close {
    &:after {
      content: "\e900";
    }
  }
}


.nav {
  text-transform: lowercase;
  ul {
    @extend %clearfix;
  }
  @media( max-width: $breakpoint ){
    ul{
      clear: left;
    }
  }
  li {
    float: left;
  }
  @media( min-width: $breakpoint ){
    li {
      margin: 0 1px;
      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  @media( max-width: $breakpoint ){
    li {
      width: 20%;
      text-align: center;
      a {
        display: block;
        border: 1px solid white;
        padding: $gutter/2;
        &:hover {
          color: black;
          background: white;
        }
      }
    }
  }
}
