.posts {
  form {
    margin: $gutter/2 0;
    input {
      &[type="text"] {
        border: 1px solid $brand-color;
        padding: $gutter/5;
        display: block;
        width: 100%;
        @media( min-width: $breakpoint ) {
          width: 80%;
          float: left;
        }
        line-height: 1;
      }
      &[type="submit"] {
        width: 100%;
        @media( min-width: $breakpoint ) {
          width: 20%;
        }
        line-height: 1;
        @extend .button;
      }
    }
  }
  ul {
    list-style: none;
    li {
      margin: $gutter/4 0;
      a {
        span {
          display: inline-block;
          @media( min-width: $breakpoint ) {
            max-width: 60%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          @media( max-width: $breakpoint ) {
            width: 50%;
            vertical-align: middle;
          }
          em {
            color: $gray;
            font-family: $headline-font-family;
            font-style: italic;
            font-weight: normal;
          }
        }
      }
    }
  }
  img {
    max-width: 150px;
    margin-right: $gutter/4;
    @media( max-width: $breakpoint ) {
      width: 40%;
      display: inline-block;
    }
  }
}

.post {
  &__header {
    @media( min-width: $breakpoint ) {
      float: right;
      width: 60%;
      margin: 0 0 $gutter $gutter;
      text-align: right;
    }
    p {
      font-size: .875rem;
      margin-bottom: 0;
      color: $gray;
      display: inline-block;
      span {
        color: $dark-gray;
      }
      &:after {
        content: ",";
      }
      &:last-of-type {
        &:after {
          content: ".";
        }
      }
    }
    .cover {
      border-bottom: 4px solid $brand-color;
      margin-bottom: $gutter/2;
    }
    .title {
      font-family: $headline-font-family;
      font-style: italic;
      @media( max-width: $breakpoint ) {
        font-size: 1.75rem;
      }
      @media( min-width: $breakpoint ) {
        font-size: 2rem;
      }
      text-transform: uppercase;
      font-weight: 400;
      span {
        font-family: $headline-font-family;
        font-style: italic;
        text-transform: none;
        font-size: 1.25rem;
        line-height: 1;
        color: $gray;
        display: block;
        margin-bottom: $gutter/4;
        margin-top: $gutter/8;
      }
      a {
        color: black;
      }
    }
    .excerpt {
      margin-bottom: 0;
      margin-top: $gutter/4;
      font-family: $headline-font-family;
      font-style: italic;
      font-size: 1.125rem;
      color: $gray;
      strong,
      b {
        color: $dark-gray;
      }
    }
  }
  aside {
    padding: $gutter;
    margin: $gutter/2 0;
    background: $light-gray;
    @media( min-width: $breakpoint ) {
      margin: $gutter;
      padding: $gutter;
      float: right;
      clear: right;
      margin-right: 0;
      max-width: 340px;
    }
    p {
      margin: 0;
      &.blogger-stat {
        width: 100%;
        word-wrap: break-word;
        &.url {
          span {
            padding-left: 5px;
          }
        }
      }
    }
    span {
      font-family: $headline-font-family;
      font-style: italic;
    }
  }
  &__content {
    .meta {
      color: $dark-gray;
      font-size: .875rem;
    }
    blockquote {
      background: $light-gray;
      padding: $gutter;
      font-family: $headline-font-family;
      font-style: italic;
      font-size: 1.625rem;
      line-height: 1.825rem;
      @media( min-width: $breakpoint ) {
        max-width: 300px;
        float: left;
        margin: $gutter;
        margin-left: 0;
      }
      em {
        font-size: 1rem;
        display: block;
        color: $gray;
        margin-top: $gutter/4;
      }
    }
    p {
      line-height: 1.325rem;
      &.p {
        em {
          strong,
          b {
            &:after {
              display: none;
            }
          }
        }
        strong,
        b {
          &:after {
            content: "";
            display: block;
          }
        }
      }
      &.p--2 {
        font-family: $headline-font-family;
        font-style: italic;
        color: $gray;
        font-size: 1.125rem;
        strong,
        b {
          color: $dark-gray;
        }
      }
      strong,
      b {
        color: $brand-color;
      }
      a {
        color: $dark-gray;
        &:hover {
          color: $brand-color;
        }
      }
    }
  }
}

.social-links {
  margin-top: $gutter/2;
  @extend %clearfix;
  font-size: .875rem;
  color: black;
}
.social {
  &:hover {
    &:after {
      color: black;
    }

  }
  &:after {
    content: ",";
  }
  &:last-of-type {
    &:after {
      content: ".";
    }
  }
}

.getter,
.back {
  cursor: pointer;
  &:after {
    font-family: $icons;
    display: inline-block;
    vertical-align: bottom;
  }
}
.getter {
  &:after {
    content: "\e5cf";
  }
}
.back {
  display: none;
  &:after {
    content: "\e5ce";
  }
}

.note {
  display: block;
  @media( min-width: $breakpoint ) {
    max-width: 300px;
  }
  @media( max-width: $breakpoint ) {
    max-width: 100%;
    margin: $gutter auto 0;
  }
  margin-top: $gutter;
}
