---
layout: default
---
<h1 class="page-title">{{ page.title }}</h1>

{% assign tags_list = site.categories | sort %}
{% if tags_list.first[0] == null %}
  {% for tag in tags_list %}
    {% unless tag == 'Fashion' or tag == 'Interviews' or tag == 'Beauty' or tag == 'Lifestyle' %}
    <a href="{{ site.baseurl }}/glossary/{{ tag }}">{{ tag | capitalize }}</a>
    {% endunless %}
  {% endfor %}
{% else %}
  {% for tag in tags_list %}
    {% unless tag[0] == 'Fashion' or tag[0] == 'Interviews' or tag[0] == 'Beauty' or tag[0] == 'Lifestyle' %}
    <a href="{{ site.baseurl }}/glossary/{{ tag[0] }}">{{ tag[0] | capitalize }}</a>
    {% endunless %}
  {% endfor %}
{% endif %}
{% assign tags_list = nil %}
